---
import type { Persona } from '../../types/api-props';

const { dataPeople } = Astro.props;
---

{
  dataPeople.map((person: Persona) => (
    <div class=''>
      <div class='flex flex-row gap-2 mt-2 flex-wrap'>
        <div class='w-full flex flex-col justify-start gap-2'>
          <p class='w-fit font-bold text-lg'>Name:</p>
          <p class='w-fit'>{person.name}</p>
        </div>
        <div class='w-full flex flex-col justify-start gap-2'>
          <p class='w-fit font-bold text-lg'>Age:</p>
          <p class='w-fit'>{person.age} years</p>
        </div>
        <div class='w-full flex flex-col justify-start gap-2'>
          <p class='w-fit font-bold text-lg'>Gender:</p>
          <p class='w-fit'>{person.gender}</p>
        </div>
        <div class='w-full flex flex-col justify-start gap-2'>
          <p class='w-fit font-bold text-lg'>Hair Color:</p>
          <p class='w-fit'>{person.hair_color}</p>
        </div>
        <div class='w-full flex flex-col justify-start gap-2'>
          <p class='w-fit font-bold text-lg'>Eye Color:</p>
          <p class='w-fit'>{person.eye_color}</p>
        </div>
      </div>
    </div>
  ))
}
