---
import CardInfo from '../components/card-movie/CardInfo.astro';
import Layout from '../layouts/Layout.astro';
import type { Persona } from '../types/api-props.d.ts';
import { useMovies, usePeople } from '../utils/utils-functions';

// captura el paramentro
const { movie } = Astro.params;
const { moviesResponse } = await useMovies();

// filtra el arreglo por el parametro de la pelicula elegida
const info = moviesResponse.find((item) => item.title === movie);

// si tengo error, mandame a la pagina 404
if (!info) {
  return Astro.redirect('/404');
}

// extrae la informacion de los personajes de la pelicula

const savedPeopleData: Persona[] = await usePeople(info.people);
---

<Layout title={`movie: ${info.title}`}>
  <section class='w-full h-full'>
    <div class='grid grid-cols-1 md:grid-cols-2 gap-4 py-4 px-8'>
      <div class='relative block w-full h-fit my-auto p-5 group'>
        <picture
          class='block w-full h-fit border border-transparent rounded-lg group-hover:border group-hover:border-[#777B7A] transition-all duration-300 ease-in-out'>
          <img
            class='block w-full h-full aspect-auto rounded-lg group-hover:contrast-125 transition-all duration-300 ease-in-out'
            src={info.image}
          />
        </picture>
      </div>
      <div class='py-4 px-5 md:px-4'>
        <div class='flex flex-col gap-2'>
          <CardInfo
            data={info}
            people={savedPeopleData}
          />
        </div>
      </div>
    </div>
  </section>
</Layout>

<!-- <CardInfo
//             info={info}
//             tagName='title'
//           />
//           <CardInfo
//             info={info}
//             tagName='original_title'
//           />
//           <CardInfo
//             info={info}
//             tagName='description'
//           />
//           <CardInfo
//             info={info}
//             tagName='director'
//           />
//           <CardInfo
//             info={info}
//             tagName='producer'
//           />
//           <CardInfo
//             info={info}
//             tagName='release_date'
//           />
//           <CardInfo
//             info={info}
//             tagName='running_time'
//             tagDuration='min'
//           />
//           <CardInfo
//             info={info}
//             tagName='rt_score'
//             tagScore='100'
//           />

//           <CardInfo
//             info={info}
//             dataPeople={savedPeopleData}
//             tagName='people'
//           />-->
